<html>
	<head>
		<title>Royal Game of UR</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="RGoUR.css" 
	</head>
	<body class="container">
		<div>
			<div class="col-12">
				<div class="other player col-12">
				</div>
				<div class=" left al-center">	
					<div class="square bck-star">
					</div>
					<div class="square bck-eyes">
					</div>
					<div class="square bck-dots">
					</div>
					<div class="square bck-eyes margin-right">
					</div>
					<div class="square bck-star">
					</div>
					<div class="square bck-edges">
					</div>
					<div class="square clear bck-squares">
					</div>
					<div class="square bck-dots">
					</div>
					<div class="square bck-lines">
					</div>
					<div class="square bck-star">
					</div>
					<div class="square bck-dots">
					</div>
					<div class="square bck-lines">
					</div>
					<div class="square bck-eyes">
					</div>
					<div class="square bck-dots">
					</div>
					<div class="square clear bck-star">
					</div>
					<div class="square bck-eyes">
					</div>
					<div class="square bck-dots">
					</div>
					<div class="square bck-eyes margin-right">
					</div>
					<div class="square bck-star">
					</div>
					<div class="square bck-edges">
					</div>
				</div>
				<div class="left-side col-sm-4">
					<div class="left dice roll">
					</div>
					<div class="left align-items-center">
						<button class="left" type="button" name="roll">Roll Dice!</button>
						<button class="left" type="button" name="end">End Turn!</button>
					</div>
				</div>
				<div class="current player col-12">
				</div>
			</div>
		</div>
	</body>
</html>