.rectangle{
	height: 1000px;
	width: auto;
	border: 5px solid  black;
	border-width: 5px;
}

.current.player{
	width: 100%;
	height: 150px;
	background-color: blue;
	display: inline-block;
}

.other.player{
	width: 100%;
	height: 150px;
	background-color: red;
	display: inline-block;
}

.left-side{
	float: left;
	width: 30%;
	height: 30%;
	margin: auto;
}
.dice.roll{
	width: 100%;
	height: 100%;
	background-color: yellow;
	display: inline-block;
}


.al-center{
	display: block;
	align-content: center;
	margin: 0 auto;
}

.margin-right{
	margin-right: 100px;
}

.square{
	height: 50px;
	width: 50px;
	border: 1px solid  black;
	float: left;
}

.left{
	float: left;
}

.clear{
	clear: both;
}

.right{
	float: right;
}

.bck-star{
	background-repeat: no-repeat;
	background-size: cover;
	background: url('img/Sprite RGoUR.png')0 0;
	background-size: 300%; 
}

.bck-eyes{
	background-repeat: no-repeat;
	background-size: cover;
	background: url('img/Sprite RGoUR.png')200% 0;
	background-size: 300%; 
}

.bck-edges{
	background-repeat: no-repeat;
	background-size: cover;
	background: url('img/Sprite RGoUR.png')200% 100%;
	background-size: 300%; 
}

.bck-dots{
	background-repeat: no-repeat;
	background-size: cover;
	background: url('img/Sprite RGoUR.png')100% 0;
	background-size: 300%; 
}

.bck-squares{
	background-repeat: no-repeat;
	background-size: cover;
	background: url('img/Sprite RGoUR.png')0 100%;
	background-size: 300%; 
}

.bck-lines{
	background-repeat: no-repeat;
	background-size: cover;
	background: url('img/Sprite RGoUR.png')100% 100%;
	background-size: 300%; 
}